<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
           <div class="col-md-12 mt-3">
            <form method="post" enctype="multipart/form-data" action="/admin/blogs/<%= blog.blogid %>?_csrf=<%= csrfToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="blogid" value="<%= blog.blogid %>">
                <input type="hidden" name="resim" value="<%= blog.resim %>">
                <div class="row mb-3">
                    <label for="baslik" class="col-sm-2 col-form-label">Başlık</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="baslik" name="baslik" value="<%= blog.baslik %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="aciklama" class="col-sm-2 col-form-label">Açıklama</label>
                    <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="aciklama" name="aciklama"><%= blog.aciklama %></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="resim" class="col-sm-2 col-form-label">Resim</label>
                    <div class="col-sm-8">
                        <img src="/static/images/<%= blog.resim %>"  alt="" width="150">
                        <input type="file" class="form-control" id="yeniResim" name="yeniResim">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="baslik" class="col-sm-2 col-form-label">Kategori</label>
                    <div class="col-sm-8">
                        <select name="kategori" id="kategori" class="form-select">
                            <% categories.forEach(category => { %>  
                                <% if (category.categoryid == blog.categoryid) { %>
                                    <option value="<%= category.dataValues.categoryid %>" selected><%= category.dataValues.name %> </option>
                                 <% } else { %>
                                    <option value="<%= category.dataValues.categoryid %>"><%= category.dataValues.name %> </option>
                                <% } %>                            
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="anasayfa" name="anasayfa" <%= blog.anasayfa?"checked":"" %> >
                          <label class="form-check-label" for="anasayfa">
                            Anasayfa
                          </label>
                        </div>
                      </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="onay" name="onay" <%= blog.onay?"checked":"" %>>
                          <label class="form-check-label" for="onay">
                            Onay
                          </label>
                        </div>
                      </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 offset-sm-2">
                        <button type="submit" class="btn btn-primary" style="margin-left: 240px;height:50px;width:350px">Kaydet</button>    
                    </div>
                </div>
            </form>
           </div> 
        </div>
    </div>

</body>
</html>