<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
           <div class="col-md-12 mt-3 shadow">
            <form method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="roleid" value="<%= roles.id %>">
                <div class="row mb-3 mt-3">
                    <label for="baslik" class="col-sm-2 col-form-label">Rol Adı</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="roleName" name="roleName" value="<%= roles.roleName %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 offset-sm-2">
                        <button type="submit" class="btn btn-primary" style="margin-left: 280px;height:40px;width:250px">Kaydet</button>    
                    </div>
                </div>
            </form>
           </div> 
           <table class="table table-bordered table-striped mt-5">
            <thead>
                <tr>
                    <th style="width: 50px;">Id</th>
                    <th>Kullanıcı Adı</th>
                    <th style="width: 150px;">Rolden Çıkar</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                 <tr>
                    <td><%= user.dataValues.id %> </td>
                    <td><%= user.dataValues.adsoyad %> </td>
                    <td>
                        <a href="/admin/roles/delete/user/<%= user.dataValues.id %>" class="btn btn-danger btn-sm">Rolden Çıkar</a>
                    </td>
                 </tr>
                 <% }) %>
            </tbody>
        </table>
    </div>
        </div>
    </div>

</body>
</html>